<!DOCTYPE html>
<html lang="zh-CN" class="is-AppPromotionBarVisible cssanimations csstransforms csstransitions flexbox no-touchevents no-mobile">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="apple-itunes-app" content="app-id=432274380">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="description" content="">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title></title>
    <link rel="dns-prefetch" href="">
    <link rel="stylesheet" href="../styles/login.css">
</head>
<body class="zhi  no-auth">
<div class="index-main">
    <div class="index-main-body">
        <div class="index-header">
            <h1 class="logo hide-text"></h1>
            <h2 class="subtitle">
                #if($msg)
                $!{msg}
                #else
                </h2>
            #end

        </div>
        <div class="desk-front sign-flow clearfix sign-flow-simple">
            <div class="view view-signin" data-za-module="SignInForm" style="display: block;">
                <form novalidate="novalidate" method="post" action="/reg/" id="regloginform">
                    <div class="group-inputs">
                        <div class="email input-wrapper">
                            <input type="text" name="username" aria-label="用户名" placeholder="用户名" required="">
                        </div>
                        <div class="input-wrapper">
                            <input type="password" name="password" aria-label="密码" placeholder="密码" required="">
                        </div>
                    </div>
                    <input type="hidden" name="next" value="$!{next}">
                    <div class="button-wrapper command clearfix">
                        <button class="sign-button submit" type="submit" onclick="document.getElementById('regloginform').action='/login/'">登录</button>
                        <button class="sign-button submit" type="submit" onclick="document.getElementById('regloginform').action='/reg/'">注册</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>